<md-card>
  <md-card-content>
    <form name="emailLoginForm" id="emailLoginForm" ng-submit="userCreate.createAccount()">
      <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="userCreate.credentials.fullName">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="userCreate.credentials.email">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="userCreate.credentials.password" autocomplete="new-password">
      </md-input-container>
      <md-card-actions layout="row" layout-align="end center">
        <md-button type="submit">Create</md-button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>
